<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.waterbridge.mapper.DAppSecretMapper">
  <resultMap id="BaseResultMap" type="com.wswl.waterbridge.dto.DAppSecret">
    <!--@mbg.generated-->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="DAppSn" jdbcType="VARCHAR" property="dappsn" />
    <result column="PublicKey" jdbcType="VARCHAR" property="publickey" />
    <result column="PrivateKey" jdbcType="VARCHAR" property="privatekey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, DAppSn, PublicKey, PrivateKey
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from DAppSecret
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from DAppSecret
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wswl.waterbridge.dto.DAppSecret">
    <!--@mbg.generated-->
    insert into DAppSecret (Id, DAppSn, PublicKey, 
      PrivateKey)
    values (#{id,jdbcType=VARCHAR}, #{dappsn,jdbcType=VARCHAR}, #{publickey,jdbcType=VARCHAR}, 
      #{privatekey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wswl.waterbridge.dto.DAppSecret">
    <!--@mbg.generated-->
    insert into DAppSecret
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="dappsn != null">
        DAppSn,
      </if>
      <if test="publickey != null">
        PublicKey,
      </if>
      <if test="privatekey != null">
        PrivateKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dappsn != null">
        #{dappsn,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null">
        #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null">
        #{privatekey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wswl.waterbridge.dto.DAppSecret">
    <!--@mbg.generated-->
    update DAppSecret
    <set>
      <if test="dappsn != null">
        DAppSn = #{dappsn,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null">
        PublicKey = #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null">
        PrivateKey = #{privatekey,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wswl.waterbridge.dto.DAppSecret">
    <!--@mbg.generated-->
    update DAppSecret
    set DAppSn = #{dappsn,jdbcType=VARCHAR},
      PublicKey = #{publickey,jdbcType=VARCHAR},
      PrivateKey = #{privatekey,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>