<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.waterbridge.mapper.DAppComplaintMapper">
  <resultMap id="BaseResultMap" type="com.wswl.waterbridge.dto.DAppComplaint">
    <!--@mbg.generated-->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="DAppSn" jdbcType="VARCHAR" property="dappsn" />
    <result column="UserSn" jdbcType="VARCHAR" property="usersn" />
    <result column="Context" jdbcType="VARCHAR" property="context" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, DAppSn, UserSn, Context, CreateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from DAppComplaint
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from DAppComplaint
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wswl.waterbridge.dto.DAppComplaint">
    <!--@mbg.generated-->
    insert into DAppComplaint (Id, DAppSn, UserSn, 
      Context, CreateTime)
    values (#{id,jdbcType=VARCHAR}, #{dappsn,jdbcType=VARCHAR}, #{usersn,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wswl.waterbridge.dto.DAppComplaint">
    <!--@mbg.generated-->
    insert into DAppComplaint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="dappsn != null">
        DAppSn,
      </if>
      <if test="usersn != null">
        UserSn,
      </if>
      <if test="context != null">
        Context,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dappsn != null">
        #{dappsn,jdbcType=VARCHAR},
      </if>
      <if test="usersn != null">
        #{usersn,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wswl.waterbridge.dto.DAppComplaint">
    <!--@mbg.generated-->
    update DAppComplaint
    <set>
      <if test="dappsn != null">
        DAppSn = #{dappsn,jdbcType=VARCHAR},
      </if>
      <if test="usersn != null">
        UserSn = #{usersn,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        Context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wswl.waterbridge.dto.DAppComplaint">
    <!--@mbg.generated-->
    update DAppComplaint
    set DAppSn = #{dappsn,jdbcType=VARCHAR},
      UserSn = #{usersn,jdbcType=VARCHAR},
      Context = #{context,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>