<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.waterbridge.mapper.LeAddpledgeMapper">
  <resultMap id="BaseResultMap" type="com.wswl.waterbridge.dto.LeAddpledge">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="usn" jdbcType="VARCHAR" property="usn" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="asset" jdbcType="VARCHAR" property="asset" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="times" jdbcType="BIGINT" property="times" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, usn, oid, asset, price, amount, times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from le_addpledge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from le_addpledge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LeAddpledge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into le_addpledge (`uid`, usn, oid, 
      asset, price, amount, 
      times)
    values (#{uid,jdbcType=INTEGER}, #{usn,jdbcType=VARCHAR}, #{oid,jdbcType=INTEGER}, 
      #{asset,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{times,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LeAddpledge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into le_addpledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="usn != null">
        usn,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="asset != null">
        asset,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="times != null">
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="usn != null">
        #{usn,jdbcType=VARCHAR},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="asset != null">
        #{asset,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="times != null">
        #{times,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wswl.waterbridge.dto.LeAddpledge">
    <!--@mbg.generated-->
    update le_addpledge
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="usn != null">
        usn = #{usn,jdbcType=VARCHAR},
      </if>
      <if test="oid != null">
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="asset != null">
        asset = #{asset,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wswl.waterbridge.dto.LeAddpledge">
    <!--@mbg.generated-->
    update le_addpledge
    set `uid` = #{uid,jdbcType=INTEGER},
      usn = #{usn,jdbcType=VARCHAR},
      oid = #{oid,jdbcType=INTEGER},
      asset = #{asset,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      times = #{times,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>