<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.waterbridge.mapper.LtAddressMapper">
  <resultMap id="BaseResultMap" type="com.wswl.waterbridge.dto.LtAddress">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="usn" jdbcType="VARCHAR" property="usn" />
    <result column="chain_type" jdbcType="INTEGER" property="chainType" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="times" jdbcType="BIGINT" property="times" />
    <result column="del" jdbcType="INTEGER" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, usn, chain_type, address, times, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from lt_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from lt_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LtAddress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lt_address (`uid`, usn, chain_type, 
      address, times, del)
    values (#{uid,jdbcType=INTEGER}, #{usn,jdbcType=VARCHAR}, #{chainType,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{times,jdbcType=BIGINT}, #{del,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LtAddress" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lt_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="usn != null">
        usn,
      </if>
      <if test="chainType != null">
        chain_type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="usn != null">
        #{usn,jdbcType=VARCHAR},
      </if>
      <if test="chainType != null">
        #{chainType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wswl.waterbridge.dto.LtAddress">
    <!--@mbg.generated-->
    update lt_address
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="usn != null">
        usn = #{usn,jdbcType=VARCHAR},
      </if>
      <if test="chainType != null">
        chain_type = #{chainType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wswl.waterbridge.dto.LtAddress">
    <!--@mbg.generated-->
    update lt_address
    set `uid` = #{uid,jdbcType=INTEGER},
      usn = #{usn,jdbcType=VARCHAR},
      chain_type = #{chainType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      times = #{times,jdbcType=BIGINT},
      del = #{del,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>