<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.waterbridge.mapper.LtRecommenddappMapper">
  <resultMap id="BaseResultMap" type="com.wswl.waterbridge.dto.LtRecommenddapp">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="times" jdbcType="BIGINT" property="times" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, did, cn_name, en_name, icon, del, times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from lt_recommenddapp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from lt_recommenddapp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LtRecommenddapp" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lt_recommenddapp (did, cn_name, en_name, 
      icon, del, times)
    values (#{did,jdbcType=INTEGER}, #{cnName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{del,jdbcType=INTEGER}, #{times,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wswl.waterbridge.dto.LtRecommenddapp" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lt_recommenddapp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="times != null">
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        #{times,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wswl.waterbridge.dto.LtRecommenddapp">
    <!--@mbg.generated-->
    update lt_recommenddapp
    <set>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wswl.waterbridge.dto.LtRecommenddapp">
    <!--@mbg.generated-->
    update lt_recommenddapp
    set did = #{did,jdbcType=INTEGER},
      cn_name = #{cnName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER},
      times = #{times,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>